@media screen and (min-width: 768px) {
  .navSide .full {
    display: none;
  }

  .page {
    height: 90vh;
  }

  /* Navbar */
  .navTop {
    background-color: firebrick;
    position: sticky;
    width: 100vw;
    height: 10vh;
    z-index: 1;
    top: 0;
  }

  #navButton {
    margin-top: 3vh;
    width: 10vw;
    height: 5vh;
  }

  #linkedin,
  #github {
    margin-top: 2vh;
    width: 50vw;
    height: 50vh;
  }

  /* Navbar */

  /* Home */

  #headshot {
    max-width: 40vh;
  }
  #home h2 {
    font-family: "Bungee", sans-serif;
  }

  #headshotRow img {
    margin-top: 5vh;
  }

  #contact p {
    margin-top: 1vh;
  }

  #email {
    margin-top: 1vh;
  }

  /* Home */

  /* About */

  #about h1 {
    font-size: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: left;
  }

  #about p {
    font-size: 1.5vh;
  }
  #about img {
    height: 65%;
    width: 65%;
  }

  #aboutPicsR2 img {
    height: 17vh;
  }

  #aboutPicsR1,
  #aboutPicsR3 {
    margin-left: 3vw;
  }

  #aboutPicsR2 {
    margin-left: 9vw;
  }

  .aboutPics {
    margin-bottom: 2vh;
  }

  #ACMPT2 {
    max-width: 35vw;
  }
  /* About */

  /* Skills */

  #skills h1 {
    float: left;
    font-size: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  #skills h2 {
    float: left;
    clear: left;
    font-size: 3.5vh;
    margin-left: 15vw;
    margin-top: -2vh;
    margin-bottom: 1vh;
  }

  #skills h3 {
    float: left;
    clear: left;
    margin-left: 15vw;
  }

  #os {
    padding-top: 10vh;
  }

  #oSys {
    margin-top: 5vh;
  }

  /* Skills */

  /* Experience */

  #experience h1 {
    margin-top: 5vh;
    text-align: left;
  }
  #experience h3,
  h4,
  li {
    text-align: left;
  }
  #experience h3 {
    font-family: "Bungee", sans-serif;
  }
  #expHeader {
    margin-bottom: 5vh;
  }
  #csulb {
    max-width: 250%;
  }

  #polb {
    max-width: 350%;
  }

  #bs,
  #gradDate {
    margin-left: 3vh;
  }

  .coursework {
    margin-left: 18vh;
  }

  #polbJobTitle {
    margin-left: 10vh;
  }

  #polbExp {
    margin-top: 5vh;
    margin-left: -10vh;
  }

  #workDates {
    margin-left: 10vh;
  }

  .polbExpR {
    margin-left: 5vh;
    font-size: 1.75vh;
  }

  #polbExpR1 {
    margin-bottom: 3vh;
  }

  /* Experience */

  /* Projects */
  #projects h1 {
    text-align: left;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .projThumb {
    border-style: groove;
    border-color: firebrick;
    border-width: thick;
  }

  .projThumb h2,
  h3 {
    font-family: "Bungee", sans-serif;
    font-size: 3vh;
  }

  .projThumb h4 {
    text-align: center;
  }
  /* Projects */
}
